.class2{
    font-family: Arial, Helvetica, sans-serif, bold;
    margin-left: 500px;
    margin-top: 100px;
    border: 1px;
    background-color: lightgray;
    width: 300px;
    height:210px;
    text-align: center;
    padding: 2px 16px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 40 40px 80px 0 rgba(0,0,0,0.2);
    
}
.class1{
    background-color: skyblue;

}